.hero {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
}

.hero h1 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.carousel-container {
width: 100vw;
  max-width: 100%;
  margin: 0;
  position: relative
}

.small-card-img {
  max-width: 500px;
  height: auto;
  transition: transform 0.3s ease;
}

.card {
  width: 500px;
  transition: transform 0.2s ease;
  z-index: 0;
  overflow: hidden
}

.card:hover {
  transform: scale(1.2);
  z-index: 10;
}


.carousel-item {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.lead {
  font-weight: 600;
 }

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.9); // Colore più scuro al passaggio del mouse
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white;
  border-radius: 50%;
}
.d-flex {
  gap: 10px; // Distanza tra le card
}
