<div
  class="hero text-center text-white d-flex align-items-center justify-content-center"
>
  <div class="container">
    <h1 class="display-3">Benvenuto su CreativeSpace!</h1>
    <p class="lead">Esplora e condividi la tua creatività.</p>
    <a routerLink="/auth/login" class="btn btn-outline-light btn-lg me-2"
      >Accedi</a
    >
    <a routerLink="/auth/register" class="btn btn-outline-light btn-lg"
      >Registrati</a
    >
  </div>
</div>
<div>
  <ngb-carousel *ngFor="let post of posts">
    <ng-template ngbSlide>
      <div class="card border-0 mb-1 p-0" *ngIf="post">
        <h6 class="card-title ms-2 mt-1">
          {{ post.title }}
        </h6>
        <img
          class="img-fluid rounded-bottom-2"
          [src]="post.imageUrl"
          [alt]="post.title"
        />

        <div class="card-body p-0 mt-2 ms-2">
          <p>{{ post.user.userName }} &#8226; {{ post.caption }}</p>
          <p></p>
          <ng-content></ng-content>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
