<div
  class="hero text-center text-white d-flex align-items-center justify-content-center"
>
  <div class="container">
    <h1 class="display-3">Benvenuto su CreativeSpace!</h1>
    <p class="lead">Esplora e condividi la tua creatività.</p>
    <a routerLink="/auth/login" class="btn btn-outline-light btn-lg me-2"
      >Accedi</a
    >
    <a routerLink="/auth/register" class="btn btn-outline-light btn-lg"
      >Registrati</a
    >
  </div>
</div>
<div class="carousel-container text-center">
  <ngb-carousel *ngIf="postGroups.length > 0">
    <ng-template ngbSlide *ngFor="let group of postGroups">
      <div class="d-flex justify-content-around">
        <div class="card border-0 p-0" *ngFor="let post of posts">
          <img
            class="img-fluid rounded-bottom-2 small-card-img"
            [src]="post.imageUrl"
            [alt]="post.title"
          />
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
