<div class="card border-0 mb-1 p-0" *ngIf="post">
  <h6 class="card-title ms-2 mt-1">
    {{ post.title }}
  </h6>
  <img
    class="img-fluid rounded-bottom-2 my-auto"
    [src]="post.imageUrl"
    [alt]="post.title"
    (click)="isCollapsed = !isCollapsed"
  />
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card-body p-0 mt-2 ms-2">
      <p>{{ post.user.userName }} &#8226; {{ post.caption }}</p>
      <p></p>
      <ng-content></ng-content>
    </div>
  </div>
</div>
