<div class="card border-0 mb-1 p-0" *ngIf="post">
  <h6 class="card-title ms-2 mt-1">
    {{ post.title }}
  </h6>
  <img
    (click)="getComments(post.id)"
    class="img-fluid rounded-bottom-2"
    [src]="post.imageUrl"
    [alt]="post.title"
    (click)="isCollapsed = !isCollapsed"
  />
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card-body p-0 mt-2 ms-2">
      <p>{{ post.user.userName }} &#8226; {{ post.caption }}</p>
      <p>{{ post.date | date }}</p>
      <div class="d-flex py-2 justify-content-start">
        <a><i class="bi bi-balloon-heart me-2"></i></a>
        <a (click)="showComments()"
          ><i class="bi bi-chat-left-text-fill"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isVisible">
  <div class="bg-white rounded-2" *ngFor="let comment of comments">
    <app-comment [comment]="comment"></app-comment>
  </div>
</div>
