.card {
  img {
    cursor: pointer;
    object-position: center;
  }
  .object-fit-cover {
    object-fit: center;
  }

  .card-height {
    padding-bottom: 100%;
  }

  .tastoUsername {
    cursor: pointer;

    font-weight: 600;
  }
}

.icon {
  cursor: pointer;
}
