body {
  background-image: url(https://img.freepik.com/foto-premium/sfondo-sfumato-pastello-in-stile-low-poly-design_70898-8403.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
