body {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/mosaic.png);

  min-height: 100vh;
  color: white;
}

* {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: italic;
}

// https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-dark.png
// https://www.toptal.com/designers/subtlepatterns/uploads/mosaic.png
