body {
  background-image: url(https://st2.depositphotos.com/3308451/9786/i/450/depositphotos_97868064-stock-photo-black-crumpled-paper-texture.jpg);

  min-height: 100vh;
  color: white;
}

* {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: italic;
}
