<div class="login-container d-flex align-items-center justify-content-center">
  <div class="login-card">
    <div class="login-header">
      <h1>Accedi</h1>
      <p class="subtitle">Inserisci le tue credenziali per continuare</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <i class="bi bi-envelope"></i>
          <input
            id="email"
            type="email"
            class="form-control"
            placeholder="La tua email"
            formControlName="email"
          />
        </div>
        <div
          *ngIf="f['email'].touched && f['email'].invalid"
          class="error-message"
        >
          <div *ngIf="f['email'].errors?.['required']">
            L'email è obbligatoria
          </div>
          <div *ngIf="f['email'].errors?.['email']">
            Inserisci un'email valida
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <i class="bi bi-lock"></i>
          <input
            id="password"
            type="password"
            class="form-control"
            placeholder="La tua password"
            formControlName="password"
          />
        </div>
        <div
          *ngIf="f['password'].touched && f['password'].invalid"
          class="error-message"
        >
          <div *ngIf="f['password'].errors?.['required']">
            La password è obbligatoria
          </div>
        </div>
      </div>

      <button type="submit" class="login-button" [disabled]="loginForm.invalid">
        <span>Accedi</span>
        <i class="bi bi-arrow-right"></i>
      </button>
      <div class="login-link">
        Non hai ancora un account? <a routerLink="/auth/register">Registrati</a>
      </div>
    </form>
  </div>
</div>
