<h1 *ngFor="let user of users">Benvenuto {{ user.userName }}</h1>

<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let post of posts">
      <app-post [post]="post">
        <!-- <button (click)="like()">Like</button> -->
        <button
          class="btn btn-outline-info w-50"
          (click)="showComments(post.id)"
        >
          Comments
        </button>
      </app-post>
      <div class="bg-white rounded-2" *ngFor="let comment of comments">
        <app-comment
          *ngIf="visible && comment.post.id === post.id"
          [comment]="comment"
        ></app-comment>
      </div>
      <!-- il commento deve essere legato all'id del post, ogni post creato avrà i suoi commenti correlati -->
    </div>
  </div>
</div>
