<header class="sticky-top border-bottom border-white">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <img class="py-2 me-3" src="logo.png" alt="logo" />

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a routerLink="/home" class="nav-link px-2 text-white"
            ><i class="bi bi-house fs-4"></i
          ></a>
        </li>
        <li>
          <a routerLink="/profile" class="nav-link px-2 text-white"
            ><i class="bi bi-person-bounding-box fs-4"></i
          ></a>
        </li>
      </ul>

      <div class="text-end mb-3 mb-lg-0">
        <a
          *ngIf="!isLoggedIn"
          routerLink="/auth/login"
          type="button"
          class="btn btn-outline-light me-2"
          >Accedi</a
        >
        <a
          *ngIf="!isLoggedIn"
          routerLink="/auth/register"
          type="button"
          class="btn btn-outline-light"
          >Registrati</a
        >
        <button
          *ngIf="isLoggedIn"
          (click)="logout()"
          class="btn btn-outline-light"
        >
          Logout
        </button>

        <ng-template #content let-offcanvas>
          <div class="sfondo">
            <div class="offcanvas-header text-white">
              <h4 class="offcanvas-title">I Tuoi Amici</h4>
            </div>
            <div class="offcanvas-body text-white">
              <p *ngFor="let user of users">
                {{ user.userName }} - {{ user.email }}
              </p>
              <div class="text-end">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="offcanvas.close('Close click')"
                >
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </ng-template>

        <button
          *ngIf="isLoggedIn"
          class="btn btn-outline-light ms-2"
          (click)="openEnd(content)"
          (click)="clickToGetFriends()"
        >
          Amici
        </button>
      </div>
    </div>
  </div>
</header>
