<div class="ms-2 my-1 d-flex flex-column">
  <div class="d-flex align-items-baseline justify-content-between">
    <div *ngIf="editingCommentId !== comment.id">
      <h6 class="me-2">
        <span class="fw-semibold">{{ comment.userName }}</span> -
        <span class="fw-normal">{{ comment.comment }}</span>
      </h6>
    </div>
    <div *ngIf="editingCommentId !== comment.id">
      <span (click)="updateThisComment(comment)">
        <i class="bi bi-pencil text-primary icon"></i>
      </span>
      <span (click)="deleteComment(comment.id)">
        <i class="bi bi-trash text-danger mx-1 icon"></i>
      </span>
    </div>

    <form
      *ngIf="editingCommentId === comment.id"
      (ngSubmit)="updateComment()"
      #form="ngForm"
      class="my-2"
    >
      <input
        placeholder="Modifica il commento"
        type="text"
        class="form-control border-primary"
        name="comment"
        [(ngModel)]="newComment.comment"
      />
      <div class="d-flex justify-content-center">
        <span (click)="editingCommentId = 0" type="submit">
          <i class="bi bi-check text-success fs-4"></i>
        </span>
        <span (click)="editingCommentId = 0">
          <i class="bi bi-x text-danger fs-4"></i>
        </span>
      </div>
    </form>
  </div>
</div>
